:root {
  --tipo-principal: 'Overpass', sans-serif;
}

body {
  font-family: var(--tipo-principal);
  font-weight: normal;
  font-size: 100%;
  background-color: #dfd7ff; 
  height: 100%; 
}

.cabecera-autogestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background-color:#2629ce;
  height: 50px;
}

.nav-autogestion a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  padding: 0px 15px 0px 10px;
}

.cabecera-principal {
  display: flex;
  justify-content: center;
  margin:10px auto;
  background-color: #03045E;
  margin: 10px 0px 0px 0px;
}

.nav-principal a{
  color: #d9dddc;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  padding: 15px;
}

.nav-principal li{
  color: #d9dddc;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  padding: 15px;
}

.background-filtros {
  background-color: #b2b3fc;
  padding: 5px;
}

h2 {
  text-align: center;
  font-size: 250%; 
  padding-bottom: 10px;
}

.filtros {
  color: #ffffff;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;    
  padding: 30px 20px;
  box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.221);
  background-color: #494cf8;
}

.filtro-pasaje {
  display: flex;
  padding: 5px;
  margin: 5px;
}

.tipo-pasaje {
  border: none;
}

.btn-buscar {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;  
  margin: 20px auto; 
  text-transform: uppercase;
  background-color:#03045E;
  border-style: solid; 
  border-radius: 10px;  
  width: 200px;   
  cursor: pointer;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s all;
  border: none;
}

.btn-buscar:hover{
  background-color:#2629ce;
  transform: scale(1.02);
  color: white;
  border: none;
}

nav li {
  display: inline-flex;
}

.campos {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb; 
  width: 160px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0c0c0c; 
  margin: 10px;
  border: 0;
}

.campos.excursiones {
  width: 240px; 
  height: 40px; 
}

.nav-autogestion a:hover {
  color:#a5a7fa;
}

.nav-principal a:hover {
  color:rgba(142, 162, 228, 0.658);
  font-size: 20px;
}

/*estilos proximamente.html*/

.proximamente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;       
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.proximamente h1 {
  font-size: 30px;
}

.proximamente a {
  text-decoration: none;
  color: #03045E;
  margin-bottom: 3px;
}

.proximamente a:hover {
  text-decoration: none;
  color: #7374d5;
  margin-bottom: 3px;
}